.calendar-table {
  &__wrapper {
    border-left: 2px solid rgba(0, 0, 0, .3);
    border-bottom: 2px solid rgba(0, 0, 0, .3);
    min-width: 720px;
  }

  &__row {
    display: flex;
    width: 100%;
  }

  &__col {
    width: 16.7%;
    min-width: 120px;
  }

  &__cell {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, .3);
    border-left: none;
    border-bottom: none;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
  }
}

.first-row {
  background: rgba(0, 0, 0, .1);
  color: #000000;
  font-weight: 600;
  width: 16.7%;
  min-width: 120px;
}