.calendar-header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 20px;
  }

  &__title {
    font-size: 35px;
    font-weight: 500;
    margin: 0;
  }

  &__right-part {
    display: flex;

    &_select {
      height: 38px;
      width: 170px;
      padding-left: 5px;
      border: 2px solid rgba(0, 0, 0, .5);
      border-radius: 5px;
      margin-left: 15px;
    }

    &_button {
      padding: 0 10px;
      margin-left: 15px;
      border: 2px solid rgba(0, 0, 0, .5);
      border-radius: 5px;
      cursor: pointer;
    }
  }
}