.meeting-info {
  &__wrapper {
    margin: 20px 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    &_left-part {
      display: flex;
      align-items: center;
      width: 90%;

      button {
        background: none;
        border: none;
        width: 20px;
        height: 20px;
        margin-right: 15px;
        cursor: pointer;

        img {
          width: 20px;
          height: 20px;
        }
      }

      h2 {
        font-size: 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    button {
      background: none;
      border: none;
      width: 35px;
      height: 35px;
      cursor: pointer;

      img {
        width: 35px;
        height: 35px;
      }
    }
  }

  &__item {
    &_wrapper {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
        flex-direction: column;
      }

      li {
        margin: 0 0 10px 30px;
        overflow: visible;
      }
    }

    &_name {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    &_value {
      font-size: 16px;
      margin-left: 20px;
      line-height: 150%;
      max-height: 70px;
      word-wrap: break-word;
      overflow-y: auto;
    }
  }
}